@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;

}

/*GEOPAIFY AUTOCOMPLETE INPUT */
.geoapify-close-button {
    position: absolute;
    left: 82%;
    top: 0;
}

.geoapify-autocomplete-items {
    width: 90%;
}

.leaflet-tooltip-content:hover {
    z-index: 999;
}

/*MAP TOOLPIT*/
.leaflet-tooltip {
    width: 100px;
    z-index: 10;
}

.leaflet-marker-pane>.leaflet-marker-icon {
    z-index: 10 !important;
}

.leaflet-marker-pane>img:hover {
    z-index: 999;
}

/* .leaflet-tooltip-pane:hover .leaflet-tooltip:hover {
    z-index: 999;
} */