@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;

}

/*GEOPAIFY AUTOCOMPLETE INPUT */
.geoapify-close-button {
    position: absolute;
    left: 82%;
    top: 0;
}

.geoapify-autocomplete-items {
    width: 90%;
}