@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;

}

/*GEOPAIFY AUTOCOMPLETE INPUT */
.geoapify-close-button {
    position: absolute;
    left: 82%;
    top: 0;
}

.geoapify-autocomplete-items {
    width: 90%;
}

/* .active {
    z-index: 1 !important;
}

.active:hover {
    z-index: 999 !important;
} */

.leaflet-tooltip {
    max-width: 120px;
    display: flex;
    flex-wrap: wrap !important;
    width: max-content;
    white-space: normal;
}